@page "/editmaintenances"
@page "/editmaintenances/{MaintenanceId}"

<h3>EditMaintenances</h3>

@* form to edit maintenances *@

<EditForm Model="@Maintenance" >
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

    <div class="form-group">
        <label for="Work" class="form-label">
            Work
            <InputTextArea id="Work" @bind-Value="Maintenance.Works" />
        </label>
        <ValidationMessage For="@(() => Maintenance.Works)" />
    </div>
@* 
    <div class="form-group">
        <label for="Year">Year</label>
        <InputNumber id="Year" @bind-Value="Vehicle.Year" />
        <ValidationMessage For="@(() => Vehicle.Year)" />
    </div>

    <div class="form-group">
        <label for="Mileage">Mileage</label>
        <InputNumber id="Mileage" @bind-Value="Vehicle.Mileage" />
        <ValidationMessage For="@(() => Vehicle.Mileage)" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button> *@
</EditForm>