@page "/"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> Localizer

<PageTitle>Home</PageTitle>

<h1>@Localizer["LateVehicleTitle"]</h1>

<FleetManagement.Components.VehicleListComponent/>
