@page "/vehiclelist"
@using System.Globalization
@using Microsoft.Extensions.Localization
@using Shared.ApiModels
@inject IStringLocalizer<VehicleList> Localizer

<h3>@Localizer["VehicleTitle"]</h3>

<button class="btn btn-primary" @onclick="AddVehicle">
    @Localizer["BtnAddVehicle"]</button>

            <Modal @ref=@_modalRef>

    <ModalContent Size="ModalSize.Large" Centered>
        <ModalHeader>
            <ModalTitle>@Localizer["AddVehicleTitle"]</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <FleetManagement.Components.EditVehicleComponent Vehicle="Vehicle" Localizer="Localizer"/>
        </ModalBody>

    </ModalContent>

</Modal>

<div>
    <FleetManagement.Components.VehicleListComponent />
</div>




